<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <header>
    <nav>
        <h1>Modern Shop</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>

  <main>
    <h1><%= product.name %></h1>
    <p><%= product.slug %></p>
    <p>
      <strong>Price: <%= product.price %></strong>
    </p>
    <% if(product.isInStock) { %> 
      <p style="color: green;">In Stock!</p>
    <% } else { %>
      <p style="color: tomato;">Temporarily sold out!</p>
    <% } %>
  </main>

</body>
</html>